.u-center-text {
   text-align: center;
}

.u-margin-bottom-small {
   margin-bottom: 1rem;
}

.u-margin-bottom-medium {
   margin-bottom: 2rem;
}

.u-margin-bottom-large {
   margin-bottom: 4rem;
}

.u-padding-x-small {
   padding: 0 1rem;
}
.u-padding-x-medium {
   padding: 0 2rem;
}
.u-padding-x-large {
   padding: 0 4rem;
}
